@tailwind base;
@tailwind components;
@tailwind utilities;

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    -webkit-animation: sp-anime 0.8s infinite linear;
    animation: sp-anime 0.8s infinite linear;
}

.spinner__overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}

.spinner__message {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-weight: bold;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

